<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="test.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="styl.css">


<body ng-app="myapp">
<div ng-controller="myCtrl" >
    Select View::<select ng-model="vi" >
<option value="Table.html">Table View</option>
<option value="List.html">List View</option>
</select>
<div ng-include="vi">
</div>
</div>  
</body>
</html>