<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="test.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="styl.css">


<body ng-app="myapp">

<div ng-controller="myCtrl" >
<br/>
  Number of Rows:<input type="number" min="0" step="1" ng-model="nrows"/>
  <br/>
  Hide Action Row:<input type="checkbox" ng-model="hidden"/>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th ng-hide="hidden">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees|limitTo:nrows">
        <td>{{employee.fname}}</td>
        <td>{{employee.lname}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.likes}}</td>
        <td>{{employee.dlikes}}</td>
        <td ng-hide="hidden"><input type="button" ng-click="inclk(employee)" value="like"/><input type="button" ng-click="incdlk(employee)" value="Dislike"/></td>
      </tr>
    </tbody>
  </table>
  <input type="button" ng-click="update(employees)" value="update"/>
</div>
</body>
</html>