
  <ul>
      <li ng-repeat="employee in employees">{{employee.fname+" "+employee.lname}}
          <ul>
              <li>Email:{{employee.email}}</li>
              <li>Likes:{{employee.likes}}</li>
              <li>Dislikes:{{employee.dlikes}}</li>
        </ul>
      </li>
      </ul>  
